<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
<!-- <script src="/js/webcam.min.js"></script> -->
<script src="/js/webcamMobile.js"></script>

<div class='body'>
    <!-- <h4>使用即時鏡頭做分析監控</h4> -->
    <!-- <form id="uImgForm" action="/upload_file" method="post" enctype="multipart/form-data">
        <input id="image-file" type="file" value='選擇路況影片' name="myfile" accept="video/*" data-target="file-uploader">
        <input type="hidden" value="realtime" name='page'>
        <input type="submit" id='uMovBtn' value='上傳路況影片'></input>
        <div id="displayResponse"></div>
    </form> -->
    <!-- <button id='video_strvideo'>播放影片</button>
    <button id='video_stpvideo'>暫停影片</button><br> -->
    <table>
        <tr>
            <td><p id="nameTag"></p></td>
            <td><button id='sCamBtn' type="button" class="btn btn-primary btn-lg">開始監控</button></td>
        </tr>
    </table>
    <!-- <button id="okButton">Send Image</button> -->
    <div id="displayResponse"></div>
    <div class="videDisplayDiv">
        <table>
            <tr>
                <td>
                    <div class="imgDisplay">
                        <!-- <video id='videoX' class="imgDisplay" src='./images/video/driver.mp4' controls='' ></video> -->
                        <!-- <img id="displayCarView" width="320" src=<%= img %> alt="./images/logos.png">
                        <div class="textClass displayHide" id="displayCarViewText" ></div>
                        <video id="videoX" class="displayHide" loop muted src="./images/video/driver.mp4"></video> -->
                        <!-- <img id='realImg_driver' src=<%= img %> alt="./images/logos_driver.png" width="500px"> -->
                        <div id='drivercamDiv' >  
                    </div>
                    <div class="imgDisplay" id="imgDisplayDiv">
                        <!-- <img id='realImg' src=<%= img %> alt="./images/logos.png" width="500px"> -->
                        <div id='webcamDiv' >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdTop">
                    <div class="analysisResult">
                        <table>
                            <tr>
                                <th>
                                    <p>分類</p>
                                </th>
                                <th>
                                    <p>評分</p>
                                </th>
                                <th>
                                    <p>風險</p>
                                </th>
                            </tr>
                            <tr>
                                <td><p><b>疲勞度</b></p></td>
                                <td id=fatigueScore></td>
                                <td id=fatigueRisk></td>
                            </tr>
                            <tr>
                                <td><p>車速</p></td>
                                <td id=speedScore></td>
                                <td id=speedRisk></td>
                            </tr>
                            <tr>
                                <td><p>車道偏移</p></td>
                                <td id=landScore></td>
                                <td id=landRisk></td>
                            </tr>
                            <tr>
                                <td><p>前車距</p></td>
                                <td id=distanceScore></td>
                                <td id=distanceRisk></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
<% dataS = JSON.stringify(data) %>
<% console.log("[LOG] Render realtime page") %>
<form action=""><input id="storeData" type="hidden" value="<%= dataS %>">
<input type="hidden" id="token" value="<%= token %>"></form>
<script type="module" src="./js/pageAction.js"></script>